{% extends 'layout.html' %}
{% block content %}
  <!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="{{url_for('index')}}">Naviagte to Main Site</a>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a href="{{url_for('layout')}}">Naviagte to Main Page</a>
  </div>
</nav>
<div class="home">

  <div class="heading">
    <h1>Docker Test with Flask</h1>
  </div>

  <!-- <div class="side-nav">
      <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
      </div>
  </div> -->

    <!-- <div class="row">
      <div class="col-sm-8">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ url_for('static', filename='neon.jpg') }}" class="d-block w-100" alt="..." width="193"
                height="290">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='neon.jpg') }}" class="d-block w-100" alt="..." width="193"
                height="290">
            </div>
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='neon.jpg') }}" class="d-block w-100" alt="..." width="193"
                height="290">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <div class="col-sm-4">
      </div> -->
    <!-- </div> -->
  <!-- </div> -->


  
  <!-- <div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    <p>Value: <span id="demo"></span></p>
  </div> -->

  <div class="arr">
    <h1>Array Sorter</h1>
    <form action="{{ url_for('sort_array') }}" method="post">
      <label for="inputArray">Enter numbers (comma-separated):</label>
      <input type="text" id="inputArray" name="inputArray" required>
      <button type="submit">Sort</button>
    </form>
    {% if sorted_array %}
      <p>Sorted Array: {{ sorted_array }}</p>
    {% endif %}
  </div>
  
</div>

  <script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}