{% extends 'layout.html' %}
{% block content %}
<div class="nav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="{{url_for('home')}}">Navigate to Home</a>
    </li>
    <li class="nav-item">
      <a href="{{url_for('layout')}}">Naviagte to Main Page</a>
    </li>
  </ul>
</div>
<title>Docker Test with Flask</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!-- <link rel="stylesheet" href="codes/static/1.css" type="text/css" media="screen,projection" /> -->
<link href="{{url_for('static', filename='1.css')}}" rel="stylesheet">

</head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="#">Docker Test with Flask</a></h1>
    <div class="subHeader">
      <marquee behavior="alternate"><span class="marquee">&#x2962; &#x2622 &#x2964</span></marquee>
  </div>
</div>

  <ul id="nav">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#css">CSS &amp; XHTML</a></li>
    <li><a href="#author">The Author</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
  <br class="clear" />
  <div id="sidebar">
    <h1>Hello!</h1>
    <p> And so we have the (almost) obligatory side bar column thing. Here you can put absolutely any thing you want! Great huh? Yep. </p>
    <h1>Animated Gifs</h1>
    <p> Aren't <a href="#">animated gifs</a> great!!! Often considered to be one of the biggest design no-no's out there. But, if you know me then you know I like to take a bad thing and make it good. While animation in web design itself is off putting (for me at least), I think that small animations like the menu on this site help accentuate certain features and also add some 'cool' factor to a site. Well, that's what I think... </p>
    <div class="sidebarfooter"> <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> <a href="http://www.sixshootermedia.com">6sm</a> <a href="http://www.getfirefox.com">Get FF</a> </div>
    <div id="sidebar_bottom"></div>
  </div>
  <div id="content">
    <h1><a href="#" id="intro"></a>Introduction</h1>
    <p> Hello and welcome to "Thin Green Line" another template by me! Anyone who knows me by now will know that I love plain templates which offer a lot of whitespace and maybe one or two features which make it stand out. In this template, that feature would be the use of animated gifs. Sure, they're regarded as horrible things but I think they can be used quite nicely, as I have tried to demonstrate in this template. </p>
    <p> A note on the slogan in the header: The gap between the grey line and the slogan is adjusted in the css. If your site title is longer than "Thin Green Line" then you may have to adjust this value! </p>
    <h1><a href="#" id="css"></a>CSS &amp; XHTML</h1>
    <p> As you would expect, this web site makes use of css for its entire layout. No nasty tables here baby! The markup is also valid XHTML 1.1 strict. CSS &amp; XHTML are important for the following reasons: </p>
    <ul>
      <li>Accessibility. Big subject. Read more <a href="http://www.w3.org/WAI/">here</a>.</li>
      <li>Keeping file sizes small</li>
      <li>Search Engine Optimisation</li>
      <li>Loads more</li>
    </ul>
    <p> Anyway, this site validates as both <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1 Strict</a> compliant. Which is nice. </p>
    <h1><a href="#" id="author"></a>About the Author</h1>
    <p> Hi! My names Jay and I'm a 19 year old web designer from England. My main projects are conducted through my website <a href="http://www.sixshootermedia.com">Six Shooter Media</a>. But I also run various other sites. These include <a href="http://www.jameskoster.co.uk">my blog</a>, nothing special really, and, more interestingly for people setting up new sites with these templates I run a tutorials web site which gives you some good techniques for spicing up your web sites. Be it a template site or something else, there's bound to be somehting interesting there, so take a look at <a href="http://www.sixshootermedia.com/Pretty_as_a_Picture">Pretty as a Picture</a>. </p>
    <p> Another site of mine that you might find interesting if you're setting up a site with a free tmeplate like this is <a href="http://www.buyabutton.net">Buy a Button</a>. There, for a great price you can purchase a link to your site in the form of a button. This link will obviously provide you site with some additional traffic which is always nice! Anyway, <a href="http://www.buyabutton.net">Take a look</a>! </p>
    <h1>Some Examples</h1>
    <p> OK, here I'll just put some example html elements that you will most probably be using in your blog. </p>
    <h2>Blockquote Example</h2>
    <blockquote>
      <p> Here's your blockquote text jfds jkndskf ndsknf sldnfjk sdnf jdsbf hdsbf jbsdjfk bdskj bdsjfb dsk bds bfsdj bfsjk bfsjdbf sbjd fjsbdk fsdbf sdb fksbd sb </p>
    </blockquote>
    <h2>List Example</h2>
    <ul>
      <li>Here</li>
      <li>Is our friend</li>
      <li>The list!</li>
    </ul>
    <h1><a href="#contact" id="contact"></a>Contact</h1>
    <p> If you decide to use this template please <a href="#">drop me a line</a> to let me know! Don't hesitiate to get in touch if your interested in a custom template or just in any of my services in general. I look forward to hearing from you! </p>
  </div>
</div>
<div id="footer">
  <p> Template design by <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.<br />
    Featured on <a href="http://www.sixshootermedia.com/Pretty_as_a_Picture">Pretty as a Picture</a>, <a href="http://www.openwebdesign.org">OWD.org</a> and <a href="http://www.oswd.org">OSWD.org</a>.<br />
&copy; All your copyright information here. </p>
</div>
</body>
{% endblock %}