/* CSS Document */

body {
	background-color:#ebc90b;
	/* background-image:url(menu_a_hover.gif); */
	background-position:top;
	background-repeat:repeat-x;
	font-family: 'Electrolize', sans-serif;
	font-size:75%;
	color:#000000;
	margin:0;

}

* {
	padding:0;
	margin:0
}

#container {
	/* width:770px; */
	margin:0 auto 0 auto;
	/* border:5px solid #f40655; */

	
}

#header {
	height:69px;
	display: block;
	background-color: #f9af03;
}

#header h1 {
	font-family: 'Electrolize', sans-serif;
	font-size:250%;
	/* letter-spacing:-1px; */
	/* padding:15px 50px 0 10px; */
	float:inline-start;
	/* border:5px solid #f40606; */
	padding: 20px;
}
#header h1 a {
	color:#000;
	text-decoration:solid;
}

.subHeader{
	padding:10px;
	font-family: 'Electrolize', sans-serif;
	margin:0 0 0 360px;
	font-size:200%;
	color:#ed0923;
	font-weight:normal;
	/* background-image:url(menu_a_hover.gif); */
	/* border:5px solid #0636f4; */
}


#sidebar_bottom {
	background-image:url(sidebarbottom.jpg);
	height:53px;
}

#nav {
	margin:0 0 0 100px;
	padding:0 20px;
	display: flex;
	/* border:5px solid #0636f4; */

}

#nav li {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#nav li a {
	display:block;
	padding:5px 10px 14px 10px;
	margin:0 1px 0 1px;
	color:#666666;
	text-decoration:none;
	font-weight:bold;
}

#nav li a:hover, .active {
	background-image:url(menu_a_hover.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	color:#f20202;
}
.clear {
	clear:both;
}

#sidebar {
	width:210px;
	background-color:#d7f706;
	padding:30px 20px 20px 20px;
	float:left;
	height: 100%;
	/* border:5px solid #06f42e; */

}

#content {
	margin:0 0 0 210px;
	padding:30px 30px 20px 20px;
	/* border:5px solid #f406e4; */

}

#content h1 {
	font-family: 'Electrolize', sans-serif;
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:10px 0 20px 0;
	color:#040404;
}
#content h2 {
	font-size:16px;
	color:#f89305;
	font-family: 'Electrolize', sans-serif;
	margin:10px;
}

#content p {
	line-height:20px;
	word-spacing:2px;
	padding:0 0 0 20px;
	text-indent:20px;
	margin:20px 0 20px 0;
}
#content ul {
	margin:15px 0 15px 20px;
	padding:0;
	/* border-top:1px solid #f0c106; */
}
#content li {
	margin:10px 0 10px 0;
	padding:0 0 10px 15px;
	list-style:none;
	/* border-bottom:1px solid #fc0404; */
	background-image:url(li.gif);
	background-position:top left;
	background-repeat:no-repeat;
}
#content #sideblock {
	width:180px;
	padding:10px;
	background-color:#f905e0;
	float:right;
	font-size:90%;
	margin:0 0 0 20px;

}
.sidebarfooter {
	background-color:#eee;
	text-align:left;
	padding:7px 5px 7px 5px;
	font-size:80%;
}
.sidebarfooter a {
	background-color:#f6f6f6;
	padding:3px;
	text-decoration:none;
}
.sidebarfooter a:hover {
	color:#000;
	background-color:#fff;
}
#content #sideblock h1 {
	text-transform:none;
	font-size:120%;
	color:#05f5b1;
	margin:0;
	letter-spacing:0;
}
#sideblock p {
	text-indent:0;
	line-height:17px;
	padding:5px;
	margin:5px 0 5px 0;
	color:#bbb;
}
#sideblock ul {
	margin:0 0 5px 5px;
	border:none;
}
#sideblock li {
	margin: 0;
	background-image:none;
	padding:0;
	border:none;
}
#sideblock li a {
	text-decoration:none;
	display:block;
	background-color:#fff;
	padding:5px 5px 5px 10px;
	color:#888;
}
#sideblock li a:hover {
	background-color:#f9f9f9;
	color:#f87205;
	background-image:url(sideblock_li_a_hover.gif);
	background-position:left;
	background-repeat:no-repeat;
}
blockquote {
	background-image:url(bq.jpg);
	background-position:top;
	background-repeat:repeat-x;
	padding:5px 35px 5px 5px;
	/* border:1px solid #03f997; */
	font-family: 'Electrolize', sans-serif;
}

#content a {
	color:#444;
	padding:2px;
	text-decoration:none;
}
#content a:hover {
		background-color:#2304e9;
		color:#000;
}
a:hover {
	text-decoration:none;
}
#sidebar a {
	color:#333;
}

#sidebar h1 {
	font-family: 'Electrolize', sans-serif;
	font-size:20px;
	color:#777;
	font-weight:normal;
	letter-spacing:-1px;
}

#sidebar p {
	font-size:90%;
	line-height:19px;
	margin:10px 0 10px 0;
}

#footer {
	padding:20px;
	border-top:2px solid #ffc800;
	color:#ccc;
	text-align:center;
	/* border:5px solid #ff6a00; */

}
#footer a {
	color:#999;
}
