body {
  font-family: 'Electrolize', sans-serif;
}

.home {
  background-color: #e104f1;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;

}

.heading {
  display: block;
  text-align: center;
  background-color: #31312d;
  color: #d3d3d3;

}

/* .side-nav{
  display: block;
  position: absolute;
  background-color: coral;
  border-radius: 10px;
  height: -webkit-fill-available;
} */

/* .slidecontainer {
  background-color: #e5f104;
  width: 75%;
  margin-left: 10%;
} */

/* .slider {
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
} */
/* 
.slider:hover {
  opacity: 1;
} */

/* .slider::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  background: #fbb502;
  cursor: pointer;
} */

/* .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #0467f1;
  cursor: pointer;
} */

/* .container{
    background-color: #0467f1;
    border-radius: 15px;
    box-sizing: border-box;
    height: 400px;
    width: 75%;
    align-content: center;
    justify-content: center;    
  } */

/* .row {
  background-color: #0467f1;
  border-radius: 15px;
  box-sizing: border-box;
  height: 400px;
  width: 75%;
  align-content: center;
  margin-left: 10%;
  padding: 10px;
} */

.arr{
  background-color: #f11404;
  border-radius: 15px;
  box-sizing: border-box;
  width: 75%;
  align-content: center;
  margin-left: 10%;
  padding: 10px;
  

}